*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #009688;

}
#container{
    background-color: #35a79c;
    width: 700px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#inner-wrap{
    background-color: #54b2a9;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h1{
    font-size: 25px;
    padding-left: 25px;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 15px;
}
input{
    margin: 2px 15px 2px 46px;
    width: 75%;
    height: 12%;
    background-color: #65c3ba;
    outline: none;
    border-color: #65c3ba;
    font-weight: 400;
    font-size: 15px;
    padding-left: 5PX;
}
#submit-btn{
    border: 1px solid #009688;
    width: 70px;
    height: 30px;
    margin-top: 40px;
    
    cursor: pointer;
    margin-left: 200px;
    margin-bottom: 20px;
    padding: 5px 5px 5px 8px;
    font-weight: 600;
    border-radius: 50px;
background: #009688;
box-shadow:  20px 20px 60px #008074, 
             -20px -20px 60px #00ad9c;
}
h2{
    position: absolute;
    left: 85px;
    margin-bottom: 12px;
}
p{
    margin-top: 5px;
    padding-left: 8px;
    padding-top: px;
    position: absolute;
    bottom: 38px;
    left: 53px;
    border: 1px solid #000;
    width: 75%;
    height: 12%;
    background-color: #83d0c9;
}